 *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 body, html
 {
  height: 100%;
  margin: 0;
  padding: 0;
 }

 body
 {
  text-align: center;
  padding-top   : 3%;
  background: #606060;
  color: #ffffff;
 } 

 a, a:active { color: #ffffff }

 img
 {
  max-width : 70%;
  border: 1px solid #000000;
  margin-top   : 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
 }

.header
{
 text-align: left;
 padding-left: 3%;
}

.header a
{
 text-decoration: none;
}

.header a:hover
{
 border-bottom: 1px solid #ffffff;
}

.header .title
{
 color: #a0a0a0;
 font-size: 150%;
}

.caption
{
 margin-bottom: 20px;
 max-width: 70%;
 display: inline-block; 
 text-align: left;
}

@media (min-width: 900px)
{
 .caption
 {
  max-width: 700px;
 }
}

 @media (max-width: 800px)
 {
  img, .caption
  {
   max-width: 80%;
  }
 }

 @media (max-width: 600px)
 {
  img, .caption
  {
   max-width: 95%;
  }
 }

 @media (max-height: 500px)
 {
  img, .caption
  {
   max-height: 10000%;
  }
 }


.imglink
{
 font-size: 0;
}

.imglink:before, .imglink:after
{
 content: '';
 display: block;
}

.footer
{
 padding-top: 100px;
 padding-bottom: 100px;
}

